@{
    Layout = "_LayoutEmpty";
    ViewBag.Title = "授权拒绝";
}
    <div class="container">
        <div class="row">
            <h1 class="col-12">Warning!</h1>
                <br class="col-12" />
                <br class="col-12" />
                <h5 class="col-12">抱歉，您没有访问该页面的权限，请联系你的上级</h5>
                <br class="col-12" />
                <p class="col-12">您访问的页面不存在<a asp-controller="Home" asp-action="Index">点击返回首页</a></p>
        </div>
    </div>