<style>
    #welcome {
        padding-top: 250px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
</style>
<div id="welcome" class="content-wrapper">
    欢迎使用Simple Back-Office后台管理系统
</div>